# Port server web portal TKA Mirror
PORT=8085

# Environment
NODE_ENV=production

# SFTPGo WebClient Base URL (Local LAN)
SFTPGO_LOCAL_URL=http://192.168.8.3:8081/web/client/pubshares

# SFTPGo WebClient Base URL (ZeroTier VPN)
SFTPGO_ZEROTIER_URL=http://192.168.195.219:8081/web/client/pubshares
